**.c
**.so
**/__pycache__
pianoteq_scales.mp3
run.svg
mpc2c.svg
images/skopt_vel4_numsamples.txt
images/skopt_ped2_convergence.txt
images/skopt_ped2_dependency.txt
images/skopt_ped2_numsamples.txt
images/skopt_ped3_convergence.txt
images/skopt_ped3_dependency.txt
images/skopt_ped3_numsamples.txt
images/skopt_vel1_convergence.txt
images/skopt_vel1_dependency.txt
images/skopt_vel1_numsamples.txt
images/skopt_vel3_convergence.txt
images/skopt_vel3_dependency.txt
images/skopt_vel3_numsamples.txt
images/skopt_vel4_convergence.txt
images/skopt_vel4_dependency.txt
.ropeproject/

tags
session.vim
to_be_synthesized/pianoteq_scales.flac
scales.mid